checkpoints/*
!checkpoints/.gitkeep
detection_result/
output/
model/*
!model/.gitkeep
result/
weights/*
.weights/.gitkeep
__pycache__

data/*
!data/.gitkeep
detection/*
!detection/.gitkeep
eval/
logs/*
!logs/.gitkeep
